<!-- A -->
<% a = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'A' || variety.name.chars.first == 'a' %>
    <% a << variety %>
  <% end %>
<% end %>

<% if !a.empty? %>
  <div class="letter">
    <h2>A</h2>
    <div class="names">
      <ul>
        <% a.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- B -->
<% b = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'B' || variety.name.chars.first == 'b' %>
    <% b << variety %>
  <% end %>
<% end %>

<% if !b.empty? %>
  <div class="letter">
    <h2>B</h2>
    <div class="names">
      <ul>
        <% b.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- C -->
<% c = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'C' || variety.name.chars.first == 'c' %>
    <% c << variety %>
  <% end %>
<% end %>

<% if !c.empty? %>
  <div class="letter">
    <h2>C</h2>
    <div class="names">
      <ul>
        <% c.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- D -->
<% d = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'D' || variety.name.chars.first == 'd' %>
    <% d << variety %>
  <% end %>
<% end %>

<% if !d.empty? %>
  <div class="letter">
    <h2>D</h2>
    <div class="names">
      <ul>
        <% d.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- E -->
<% e = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'E' || variety.name.chars.first == 'e' %>
    <% e << variety %>
  <% end %>
<% end %>

<% if !e.empty? %>
  <div class="letter">
    <h2>E</h2>
    <div class="names">
      <ul>
        <% e.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- F -->
<% f = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'F' || variety.name.chars.first == 'f' %>
    <% f << variety %>
  <% end %>
<% end %>

<% if !f.empty? %>
  <div class="letter">
    <h2>F</h2>
    <div class="names">
      <ul>
        <% f.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- G -->
<% g = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'G' || variety.name.chars.first == 'g' %>
    <% g << variety %>
  <% end %>
<% end %>

<% if !g.empty? %>
  <div class="letter">
    <h2>G</h2>
    <div class="names">
      <ul>
        <% g.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- H -->
<% h = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'H' || variety.name.chars.first == 'h' %>
    <% h << variety %>
  <% end %>
<% end %>

<% if !h.empty? %>
  <div class="letter">
    <h2>H</h2>
    <div class="names">
      <ul>
        <% h.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- I -->
<% i = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'I' || variety.name.chars.first == 'i' %>
    <% i << variety %>
  <% end %>
<% end %>

<% if !i.empty? %>
  <div class="letter">
    <h2>I</h2>
    <div class="names">
      <ul>
        <% i.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- J -->
<% j = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'J' || variety.name.chars.first == 'j' %>
    <% j << variety %>
  <% end %>
<% end %>

<% if !j.empty? %>
  <div class="letter">
    <h2>J</h2>
    <div class="names">
      <ul>
        <% j.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- K -->
<% k = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'K' || variety.name.chars.first == 'k' %>
    <% k << variety %>
  <% end %>
<% end %>

<% if !k.empty? %>
  <div class="letter">
    <h2>K</h2>
    <div class="names">
      <ul>
        <% k.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- L -->
<% l = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'L' || variety.name.chars.first == 'l' %>
    <% l << variety %>
  <% end %>
<% end %>

<% if !l.empty? %>
  <div class="letter">
    <h2>L</h2>
    <div class="names">
      <ul>
        <% l.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- M -->
<% m = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'M' || variety.name.chars.first == 'm' %>
    <% m << variety %>
  <% end %>
<% end %>

<% if !m.empty? %>
  <div class="letter">
    <h2>M</h2>
    <div class="names">
      <ul>
        <% m.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- N -->
<% n = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'N' || variety.name.chars.first == 'n' %>
    <% n << variety %>
  <% end %>
<% end %>

<% if !n.empty? %>
  <div class="letter">
    <h2>N</h2>
    <div class="names">
      <ul>
        <% n.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- O -->
<% o = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'O' || variety.name.chars.first == 'o' %>
    <% o << variety %>
  <% end %>
<% end %>

<% if !o.empty? %>
  <div class="letter">
    <h2>O</h2>
    <div class="names">
      <ul>
        <% o.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- P -->
<% p = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'P' || variety.name.chars.first == 'p' %>
    <% p << variety %>
  <% end %>
<% end %>

<% if !p.empty? %>
  <div class="letter">
    <h2>P</h2>
    <div class="names">
      <ul>
        <% p.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- Q -->
<% q = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'Q' || variety.name.chars.first == 'q' %>
    <% q << variety %>
  <% end %>
<% end %>

<% if !q.empty? %>
  <div class="letter">
    <h2>Q</h2>
    <div class="names">
      <ul>
        <% q.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- R -->
<% r = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'R' || variety.name.chars.first == 'r' %>
    <% r << variety %>
  <% end %>
<% end %>

<% if !r.empty? %>
  <div class="letter">
    <h2>R</h2>
    <div class="names">
      <ul>
        <% r.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- S -->
<% s = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'S' || variety.name.chars.first == 's' %>
    <% s << variety %>
  <% end %>
<% end %>

<% if !s.empty? %>
  <div class="letter">
    <h2>S</h2>
    <div class="names">
      <ul>
        <% s.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- T -->
<% t = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'T' || variety.name.chars.first == 't' %>
    <% t << variety %>
  <% end %>
<% end %>

<% if !t.empty? %>
  <div class="letter">
    <h2>T</h2>
    <div class="names">
      <ul>
        <% t.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- U -->
<% u = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'U' || variety.name.chars.first == 'u' %>
    <% u << variety %>
  <% end %>
<% end %>

<% if !u.empty? %>
  <div class="letter">
    <h2>U</h2>
    <div class="names">
      <ul>
        <% u.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- V -->
<% v = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'V' || variety.name.chars.first == 'v' %>
    <% v << variety %>
  <% end %>
<% end %>

<% if !v.empty? %>
  <div class="letter">
    <h2>V</h2>
    <div class="names">
      <ul>
        <% v.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- W -->
<% w = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'W' || variety.name.chars.first == 'w' %>
    <% w << variety %>
  <% end %>
<% end %>

<% if !w.empty? %>
  <div class="letter">
    <h2>W</h2>
    <div class="names">
      <ul>
        <% w.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- X -->
<% x = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'X' || variety.name.chars.first == 'x' %>
    <% x << variety %>
  <% end %>
<% end %>

<% if !x.empty? %>
  <div class="letter">
    <h2>X</h2>
    <div class="names">
      <ul>
        <% x.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- Y -->
<% y = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'Y' || variety.name.chars.first == 'y' %>
    <% y << variety %>
  <% end %>
<% end %>

<% if !y.empty? %>
  <div class="letter">
    <h2>Y</h2>
    <div class="names">
      <ul>
        <% y.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- Z -->
<% z = [] %>
<% @varieties.each do |variety| %>
  <% if variety.name.chars.first == 'Z' || variety.name.chars.first == 'z' %>
    <% z << variety %>
  <% end %>
<% end %>

<% if !z.empty? %>
  <div class="letter">
    <h2>Z</h2>
    <div class="names">
      <ul>
        <% z.each do |variety| %>
          <li>
            <%= link_to variety.name.upcase, variety_path(variety) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
