<div class="letter">
  <h2>A</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'A' %>
        <ul>
          <li>
            <%= variety.name.upcase %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>B</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'B' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>C</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'C' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>D</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'D' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>E</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'E' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>F</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'F' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>G</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'G' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>H</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'H' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>I</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'I' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>J</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'J' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>K</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'K' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>L</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'L' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>M</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'M' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>N</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'N' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>O</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'O' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>P</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'P' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Q</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Q' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>R</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'R' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>S</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'S' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>T</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'T' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>U</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'U' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>V</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'V' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>W</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'W' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>X</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'X' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Y</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Y' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Z</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Z' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
