<div class="letter">
  <h2>A</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'A' || variety.name.chars.first == 'a' %>
        <ul>
          <li>
            <%= variety.name.upcase %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>B</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'B' || variety.name.chars.first == 'b' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>C</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'C' || variety.name.chars.first == 'c' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>D</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'D' || variety.name.chars.first == 'd' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>E</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'E' || variety.name.chars.first == 'e' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>F</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'F' || variety.name.chars.first == 'f' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>G</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'G' || variety.name.chars.first == 'g' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>H</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'H' || variety.name.chars.first == 'h' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>I</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'I' || variety.name.chars.first == 'i' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>J</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'J' || variety.name.chars.first == 'j' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>K</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'K' || variety.name.chars.first == 'k' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>L</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'L' || variety.name.chars.first == 'l' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>M</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'M' || variety.name.chars.first == 'm' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>N</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'N' || variety.name.chars.first == 'n' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>O</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'O' || variety.name.chars.first == 'o' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>P</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'P' || variety.name.chars.first == 'p' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Q</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Q' || variety.name.chars.first == 'q' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>R</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'R' || variety.name.chars.first == 'r' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>S</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'S' || variety.name.chars.first == 's' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>T</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'T' || variety.name.chars.first == 't' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>U</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'U' || variety.name.chars.first == 'u' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>V</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'V' || variety.name.chars.first == 'v' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>W</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'W' || variety.name.chars.first == 'w' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>X</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'X' || variety.name.chars.first == 'x' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Y</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Y' || variety.name.chars.first == 'y' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="letter">
  <h2>Z</h2>
  <div class="names">
    <% @varieties.each do |variety| %>
      <% if variety.name.chars.first == 'Z' || variety.name.chars.first == 'z' %>
      <ul>
        <li>
          <%= variety.name.upcase %>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
