<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-varieties d-flex justify-content-center flex-column">
    <!-- <h1 class="text-center">Toutes les variétés.</h1> -->
    <h1 class="text-center">Arbre Des Variétés</h1>
    <br>
    <div class="d-flex justify-content-center">
      <% if policy(Variety).create? %>
        <%= link_to "CRÉER UNE NOUVELLE VARIÉTÉ", new_variety_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
        “L’Arbre des variétés du Black Barrel vous permet de retracer l’Histoire d’une variété, mais aussi de visualiser son héritage en accentuant sur sa descendance.
        <br> Chaque variété vous dévoilera plus de secrets quand vous aurez apprivoisé l’Arbre.”
      </p>
    </div>
    <%#= render 'varieties/tree' %>
    <%= render 'varieties/secondtree' %>

  </div>
  <br>

  <div class="container-index-varieties d-flex justify-content-center flex-column">
    <!-- <h1 class="text-center">Toutes les variétés.</h1> -->
    <h1 class="text-center">Liste Des Variétés</h1>
    <div class="container-abcd">
      <div class="abcd d-flex flex-wrap justify-content-around">
        <%= render 'varieties/abcd' %>
      </div>
    </div>
  </div>

</div>

<div class="footer footer-show d-flex justify-content-center">
  <a href="#">About</a>
  <div class="footer-logo d-flex align-items-center flex-column">
    <%= image_tag "logo-beige-png.png", alt: "coffee bean logo in beige" %>
    <div class="footer-copyright-show mt-2">
      © 2020 BLACK BARREL COFFEE, INC. All rights reserved.
    </div>
  </div>
  <a href="#">Contact</a>
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>
