<%= link_to "<- Retour", root_path %>
<div class="container-index-varieties d-flex justify-content-center flex-column">
  <!-- <h1 class="text-center">Toutes les variétés.</h1> -->
  <h1 class="text-center">Les variétés du Bon Dieu.</h1>
  <hr>
  <div class="d-flex justify-content-center">
    <% if policy(Variety).create? %>
      <%= link_to "Nouvelle variété", new_variety_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <hr>

  <!--
  We will create a family tree using just CSS(3)
  The markup will be simple nested lists
  -->
  <% parents = [] %>
  <% @varieties.each do |variety| %>
    <% if Parent.where(variety_id: variety) == [] %>
      <% parents << variety %>
    <% end %>
  <% end %>
  <div class="tree d-flex justify-content-center mt-5 mb-5">
    <ul>
      <% parents.each do |parent| %>
        <li>
          <%= link_to parent.name.upcase, variety_path(parent) %>

          <% children = [] %>
          <% if Parent.where(parent_variety_id: parent) %>
            <% Parent.where(parent_variety_id: parent).each do |child| %>
              <% children << Variety.find(child.variety_id) %>
            <% end %>
            <ul>
              <% children.each do |child| %>
                <li>
                <%= link_to child.name.upcase, variety_path(child) %>

                <% grand_children = [] %>
                <% if Parent.where(parent_variety_id: child) %>
                  <% Parent.where(parent_variety_id: child).each do |grand_child| %>
                    <% grand_children << Variety.find(grand_child.variety_id) %>
                  <% end %>
                  <ul>
                    <% grand_children.each do |grand_child| %>
                      <li>
                      <%= link_to grand_child.name.upcase, variety_path(grand_child) %>

                      <% great_children = [] %>
                      <% if Parent.where(parent_variety_id: grand_child) %>
                        <% Parent.where(parent_variety_id: grand_child).each do |great_child| %>
                          <% great_children << Variety.find(great_child.variety_id) %>
                        <% end %>
                        <ul>
                          <% great_children.each do |great_child| %>
                          <li>
                            <%= link_to great_child.name.upcase, variety_path(great_child) %>

                            <% great_grand_children = [] %>
                            <% if Parent.where(parent_variety_id: great_child) %>
                              <% Parent.where(parent_variety_id: great_child).each do |great_grand_child| %>
                                <% great_grand_children << Variety.find(great_grand_child.variety_id) %>
                              <% end %>
                              <ul>
                                <% great_grand_children.each do |great_grand_child| %>
                                  <li>
                                    <%= link_to great_grand_child.name.upcase, variety_path(great_grand_child) %>
                                  </li>
                                <% end %>
                              </ul>
                            <% end %>
                          </li>
                          <% end %>
                        </ul>
                      <% end %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <br>
  <hr>
  <div class="list-varieties">
    <% @varieties.each do |variety| %>
      <%= link_to variety.name, variety_path(variety), class: "btn btn-warning m-2" %>
    <% end %>
  </div>
</div>
