<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>

  <div class="container container-show-variety-one d-flex justify-content-center">
    <div class="container-content-show-variety">

      <div class="title-show-variety mt-3">
        <h1 class="text-center mb-3"><%= @variety.name.upcase %></h1>
      </div>

      <div class="container-tab-show-variety-one">

        <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>ESPÈCE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
            <% if @variety.arabica %>
              <p class='text-center'>arabica</p>
            <% end %>
            <% if @variety.robusta %>
              <p class='text-center'>robusta</p>
            <% end %>
            <% if @variety.liberica %>
              <p class='text-center'>liberica</p>
            <% end %>
          </div>
        </div>

        <div class="first-row-show-variety d-flex align-items-center">
          <div class="first-row-show-variety-case-one d-flex justify-content-center flex-column">
            <p class='text-center'>PARENTS :</p>
            <% if current_user.admin? %>
              <!-- START Button trigger modal new_parent -->
              <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newParentModalCenter">
                <%= image_tag "button-plus.svg", alt: "alttext" %>
              </div>
              <!-- END Button trigger modal new_parent -->
            <% end %>
          </div>
          <div class="first-row-show-variety-case-two d-flex justify-content-center">
            <ul>
              <% @variety.parents.each do |parent| %>
                <li>
                  <%#= Variety.find(parent.parent_variety_id).name %>
                  <%= link_to Variety.find(parent.parent_variety_id).name.upcase, variety_path(parent.parent_variety_id), class: 'name'%>

                  <%= link_to "| X", parent_path(parent),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="second-row-show-variety d-flex align-items-center">

          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>MUTATION :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.mutation.name %></p>
          </div>
        </div>

        <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>ORIGINE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.origin %></p>
          </div>
        </div>

        <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>ANNÉE DE DÉCOUVERTE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.discover_year %></p>
          </div>
        </div>

        <div class="infos-row-show-variety d-flex justify-content-center">
          <p class='text-center'><%= @variety.description %></p>
        </div>

      </div>
    </div>
  </div>
<!--         <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>ALTITUDE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%#= @variety.altitude %></p>
          </div>
        </div> -->
  <div class="container container-show-variety-two d-flex justify-content-center">
    <div class="container-content-show-variety">

      <div class="container-tab-show-variety-two">

        <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>PLANTE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.plant %></p>
          </div>
        </div>

        <div class="second-row-show-variety d-flex align-items-center">
          <div class="second-row-show-variety-case-one d-flex justify-content-center">
            <p class='text-center'>RÉSISTANCE :</p>
          </div>
          <div class="second-row-show-variety-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.strenght %></p>
          </div>
        </div>

        <div class="last-row-variety-two d-flex align-items-center">
          <div class="last-row-variety-two-case-one d-flex justify-content-center">
            <p class='text-center'>TASSE :</p>
          </div>
          <div class="last-row-variety-two-case-two d-flex justify-content-center">
              <p class='text-center'><%= @variety.cup %></p>
          </div>
        </div>
      </div>

      <div class="container-tab-show-variety-three">

        <div class="last-row-show-variety d-flex align-items-center">
          <div class="last-row-show-variety-case-one d-flex justify-content-center flex-column">
            <p class='text-center'>PAYS PRODUCTEURS :</p>
            <% if current_user.admin? %>
              <!-- START Button trigger modal new_parent -->
              <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newProductiveCountryModalCenter">
                <%= image_tag "button-plus.svg", alt: "alttext" %>
              </div>
              <!-- END Button trigger modal new_parent -->
            <% end %>
          </div>
          <div class="last-row-show-variety-case-two d-flex justify-content-center">
            <ul>
              <% @variety.productive_countries.each do |productive_country| %>
                <li>
                  <%#= Variety.find(parent.parent_variety_id).name %>
                  <%= link_to productive_country.country.name.upcase, country_path(productive_country.country), class: 'name'%>
                  <% if current_user.admin? %>
                    <%= link_to "| X", productive_country_path(productive_country),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } %>
                    <em>(<%= productive_country.address %>)</em>
                    <!-- START Button trigger modal edit_productive_country -->
                    <button type="button" data-toggle="modal" data-target="#editProductiveCountryModalCenter">
                      | Changer l'adresse
                    </button>
                    <!-- END Button trigger modal edit_productive_country -->
                  <% end %>
                </li>
                <!-- START Modal edit_productive_country -->
                <div class="modal fade" id="editProductiveCountryModalCenter" tabindex="-1" role="dialog" aria-labelledby="editProductiveCountryCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editProductiveCountryCenterTitle">Changement d'adresse de production</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for productive_country do |f| %>
                          <%= f.association :variety, :as => :hidden %>
                          <%= f.association :country, :as => :hidden %>
                          <%= f.input :address, label: false, placeholder: "Adresse ?" %>
                          <div class =" mt-2 mb-2 d-flex justify-content-center">
                            <%= f.submit "Changer", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END Modal edit_productive_country -->
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>





  <div class ="mt-5 mb-2 d-flex justify-content-center">
    <% if policy(Variety).update? %>
      <%= link_to "Modifier la variété", edit_variety_path(@variety), class: "btn btn-info text-center" %>
    <% end %>
  </div>
  <div class ="mt-2 mb-2 d-flex justify-content-center">
    <% if policy(Variety).destroy? %>
      <%= link_to "Supprimer", variety_path(@variety),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "btn btn-warning" %>
    <% end %>
  </div>
  <br>
</div>

<div class="footer footer-show d-flex justify-content-center">
  <a href="#">About</a>
  <div class="footer-logo d-flex align-items-center flex-column">
    <%= image_tag "logo-beige-png.png", alt: "coffee bean logo in beige" %>
    <div class="footer-copyright-show mt-2">
      © 2020 BLACK BARREL COFFEE, INC. All rights reserved.
    </div>
  </div>
  <a href="#">Contact</a>
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>

<!-- START Modal new_productive_country -->
<div class="modal fade" id="newProductiveCountryModalCenter" tabindex="-1" role="dialog" aria-labelledby="newProductiveCountryModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProductiveCountryModalCenterTitle">Ajouter un pays producteur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @productive_country do |f| %>
          <%= f.association :variety, :as => :hidden, input_html: { value: @variety.id } %>
          <%= f.association :country, label: false %>
          <%= f.input :address, label: false, placeholder: "Adresse ?" %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_productive_country -->
<!-- START Modal new_parent -->
<div class="modal fade" id="newParentModalCenter" tabindex="-1" role="dialog" aria-labelledby="newParentModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newParentModalCenterTitle">Ajouter une variété parente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @parent do |f| %>
          <%= f.association :variety, :as => :hidden, input_html: { value: @variety.id } %>
          <%= f.input :parent_variety_id, collection: Variety.all, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_parent -->
