<div class="container">
  <p><%= link_to "<- Retour", varieties_path %> </p>
  <h1 class="text-center"><%= @variety.name %></h1>
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= link_to "Modifier la variété", edit_variety_path(@variety), class: "btn btn-success text-center" %>
      <br>
      <p><strong>Espèce : </strong></p>
      <% if @variety.arabica %>
      <p>arabica</p>
      <% end %>
      <% if @variety.robusta %>
      <p>robusta</p>
      <% end %>
      <% if @variety.liberica %>
      <p>liberica</p>
      <% end %>

      <p><strong>Année de découverte : </strong> <%= @variety.discover_year %></p>

      <p><strong>Origine : </strong> <%= @variety.origin %></p>

      <p><strong>Altitude : </strong> <%= @variety.altitude %></p>

      <p><strong>Mutation : </strong> <%= @variety.mutation.name %></p>

      <p><strong>Plante : </strong> <%= @variety.plant %></p>

      <p><strong>Résistance : </strong> <%= @variety.strenght %></p>

      <p><strong>Tasse : </strong> <%= @variety.cup %></p>

      <p><strong>Caractéristiques : </strong> <%= @variety.description %></p>


      <p><strong>Pays producteurs : </strong></p>
      <ul>
        <% @variety.productive_countries.each do |country| %>
          <li>
            <%= country.country.name %>
            <%= link_to "Supprimer", productive_country_path(country),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
      <!-- START Button trigger modal new_productive_country -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProductiveCountryModalCenter">
        Ajouter un pays producteur
      </button>
      <!-- END Button trigger modal new_productive_country -->
      <br>
      <br>
      <p><strong>Parents : </strong></p>
      <ul>
        <% @variety.parents.each do |parent| %>
          <li>
            <%= Variety.find(parent.parent_variety_id).name %>
            <%= link_to "Supprimer", parent_path(parent),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
       <!-- START Button trigger modal new_parent -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newParentModalCenter">
        Ajouter une variété parente
      </button>
      <!-- END Button trigger modal new_parent -->
    </div>
  </div>
</div>

<!-- START Modal new_productive_country -->
<div class="modal fade" id="newProductiveCountryModalCenter" tabindex="-1" role="dialog" aria-labelledby="newProductiveCountryModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newProductiveCountryModalCenterTitle">Ajouter un pays producteur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @productive_country do |f| %>
          <%= f.association :variety, :as => :hidden, input_html: { value: @variety.id } %>
          <%= f.association :country, label: false %>
          <%= f.input :address, label: false, placeholder: "Adresse ?" %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_productive_country -->
<!-- START Modal new_parent -->
<div class="modal fade" id="newParentModalCenter" tabindex="-1" role="dialog" aria-labelledby="newParentModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newParentModalCenterTitle">Ajouter une variété parente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @parent do |f| %>
          <%= f.association :variety, :as => :hidden, input_html: { value: @variety.id } %>
          <%= f.input :parent_variety_id, collection: Variety.all, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_parent -->
