<%= render 'shared/navbar' %>
<div class="maintenance d-flex justify-content-center">
  <div class="card-maintenance">
    <div class=''>
      <h1 class="title-maintenance d-flex justify-content-center">Dark Sun Coffee Co</h1>
      <div class='logo-maintenance d-flex justify-content-center'>
        <%= image_tag 'group-card-atlas.png' %>
      </div>
      <p class="text-maintenance">
        Le monde de la Caféologie est très vaste et parfois sinueux.
        Il nous parrait crucial que vous puissiez trouver des réponses à vos questions simplement.
        C’est pourquoi le Dark Sun Coffee Co à d’autres ambitions que ses services actuels et travail sur d’autres projets.
      </p>
      <p class="second-text-maintenance">Pour l'instant l'Ecyclopédie est en construction, mais si vous souhaiter suivre une formation ou un atelier n'hésitez pas faire un tour du côté de</p>
      <a href="https://www.darksuncoffeeco.com" class='link-maintenance d-flex justify-content-center'>darksuncoffeeco.com  →</a>
    </div>
  </div>
</div>


<!-- <div class="logo-background" style="background-image: url(asset-path('logo.png'));"> -->
<!-- <div class="logo-background">
  <div class="row d-flex justify-content-center m-0">
    <#% if user_signed_in? %>
    <#% end %>
  </div>
</div> -->

<!-- ANCIENNE HOMEPAGE -->
<!-- <div class="logo-background">
        <div class="row d-flex justify-content-center m-0">
  <% if user_signed_in? %>
    <div class="banner" style='background: rgba(61, 79, 61, 0.85);'>
      <div class="container">
        <%#= image_tag 'logo.png', width: 700, id: 'logo' %>
          <div class="inner-text-home-log d-flex justify-content-center">
            <div class="inner-banner-text-side">
              <p class="inner-number">01</p>
              <p class="inner-description">Le référencement de toutes les variétés de cafés et leurs liens de parentés.</p>
              <br>
              <%= link_to "arbre généalogique", varieties_path, class: 'inner-link' %>
            </div>
            <div class="inner-banner-text-middle">
              <p class="inner-number">02</p>
              <p class="inner-description">Les informations clés des pays producteurs de café, ainsi que les variétés qu'ils cultivent.</p>
              <br>
              <%= link_to "liste des pays producteurs", countries_path, class: 'inner-link' %>
            </div>
            <div class="inner-banner-text-side">
              <p class="inner-number">03</p>
              <p class="inner-description">La description et les détails des différents processus de séchage.</p>
              <br>
              <br>
              <%= link_to "méthodes de séchage", drying_processes_path, class: 'inner-link' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> -->


<%= render 'cookies_eu/consent_banner' %>


<!-- TEST
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "MÉTHODES DE SÉCHAGE", drying_processes_path %>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "PAYS PRODUCTEURS", countries_path %>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card-home my-3 justify-content-center">
    <div class="card-home-text text-center">
      <%#= link_to "VARIÉTÉS", varieties_path %>
    </div>
  </div>
</div>
END TEST -->
