<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-processes d-flex justify-content-center flex-column">
    <h1 class="text-center">Méthodes De Séchage</h1>
    <br>
    <div class='d-flex justify-content-center align-items-center'>
      <% if policy(DryingProcess).create? %>
        <%= link_to "NOUVELLE MÉTHODE", new_drying_process_path, class: "btn btn-black" %>
      <% end %>
    </div>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
        “Le séchage de la cerise de café est une étape primordiale dans le processus de transformation, différentes méthodes existent s’adaptant aux ressources, aux intempéries ainsi qu’à l’organisation d’une ferme et d’un pays.”
      </p>
    </div>
    <br>
    <br>

    <div class='index-container-process d-flex justify-content-around'>
      <div class='voie-seche'>
        <p>Voie Sèche</p>
        <div class='d-flex justify-content-center mt-4'>
          <% nature =  DryingProcess.find_by(name: 'Nature')%>
          <%= link_to 'NATURE', drying_process_path(nature), class: "btn-process" %>
        </div>
      </div>

      <div class='voie-humide'>
        <p>Voie Humide</p>
        <div class='d-flex justify-content-center mt-4'>
          <% lave =  DryingProcess.find_by(name: 'Lavé')%>
          <%= link_to 'LAVÉ', drying_process_path(lave), class: "btn-process" %>
        </div>
      </div>

      <div class='voies-hybrides'>
        <p>Voies Hybrides</p>
        <div class='d-flex justify-content-around mt-4'>
          <% semilave =  DryingProcess.find_by(name: 'Semi-Lavé (Giling Basah)')%>
          <%= link_to 'SEMI-LAVÉ', drying_process_path(semilave), class: "btn-process" %>

          <% pulpednatural =  DryingProcess.find_by(name: 'Pulped Natural')%>
          <%= link_to 'PULPED NATURAL', drying_process_path(pulpednatural), class: "btn-process mr-3 ml-3" %>

          <div class='d-flex flex-column'>
            <% honeyprocess =  DryingProcess.find_by(name: 'Honey Process')%>
            <%= link_to 'HONEY PROCESS', drying_process_path(honeyprocess), class: "btn-process" %>

            <% whitehoney =  DryingProcess.find_by(name: 'White Honey')%>
            <%= link_to 'WHITE HONEY', drying_process_path(whitehoney), class: "btn-process mt-3 mb-3" %>

            <% yellowhoney =  DryingProcess.find_by(name: 'Yellow Honey')%>
            <%= link_to 'YELLOW HONEY', drying_process_path(yellowhoney), class: "btn-process" %>

            <% redhoney =  DryingProcess.find_by(name: 'Red Honey')%>
            <%= link_to 'RED HONEY', drying_process_path(redhoney), class: "btn-process mt-3 mb-3" %>

            <% blackhoney =  DryingProcess.find_by(name: 'Black Honey')%>
            <%= link_to 'BLACK HONEY', drying_process_path(blackhoney), class: "btn-process" %>
          </div>

          <% moussonne =  DryingProcess.find_by(name: 'Moussonnée')%>
          <%= link_to 'MOUSSONNÉE', drying_process_path(moussonne), class: "btn-process ml-3" %>

        </div>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>
