<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-processes d-flex justify-content-center flex-column">
    <h1 class="text-center">Méthodes De Séchage</h1>
    <br>
    <div class='d-flex justify-content-center align-items-center'>
      <% if policy(DryingProcess).create? %>
        <%= link_to "NOUVELLE MÉTHODE", new_drying_process_path, class: "btn btn-black" %>
      <% end %>
    </div>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
        “Le séchage de la cerise de café est une étape primordiale dans le processus de transformation, différentes méthodes existent s’adaptant aux ressources, aux intempéries ainsi qu’à l’organisation d’une ferme et d’un pays.”
      </p>
    </div>
    <br>
    <br>

    <div class='index-container-process d-flex justify-content-around'>
      <div class='voie-seche'>
        <p>VOIE SÈCHE</p>
        <% nature =  DryingProcess.find_by(name: 'Nature')%>
        <%= link_to 'NATURE', drying_process_path(nature), class: "btn btn-warning m-2" %>
      </div>

      <div class='voie-humide'>
        <p>VOIE HUMIDE</p>
        <% lave =  DryingProcess.find_by(name: 'Lavé')%>
        <%= link_to 'LAVÉ', drying_process_path(lave), class: "btn btn-warning m-2" %>
      </div>

      <div class='voies-hybrides'>
        <p>VOIES HYBRIDES</p>
        <% semilave =  DryingProcess.find_by(name: 'Semi-Lavé (Giling Basah)')%>
        <%= link_to 'SEMI-LAVÉ', drying_process_path(semilave), class: "btn btn-warning m-2" %>

        <% pulpednatural =  DryingProcess.find_by(name: 'Pulped Natural')%>
        <%= link_to 'PULPED NATURAL', drying_process_path(pulpednatural), class: "btn btn-warning m-2" %>

        <div class='d-flex justify-content-center'>
          <% honeyprocess =  DryingProcess.find_by(name: 'Honey Process')%>
          <%= link_to 'HONEY PROCESS', drying_process_path(honeyprocess), class: "btn btn-warning m-2" %>

          <% whitehoney =  DryingProcess.find_by(name: 'White Honey')%>
          <%= link_to 'WHITE HONEY', drying_process_path(whitehoney), class: "btn btn-warning m-2" %>

          <% yellowhoney =  DryingProcess.find_by(name: 'Yellow Honey')%>
          <%= link_to 'YELLOW HONEY', drying_process_path(yellowhoney), class: "btn btn-warning m-2" %>

          <% redhoney =  DryingProcess.find_by(name: 'Red Honey')%>
          <%= link_to 'RED HONEY', drying_process_path(redhoney), class: "btn btn-warning m-2" %>

          <% blackhoney =  DryingProcess.find_by(name: 'Black Honey')%>
          <%= link_to 'BLACK HONEY', drying_process_path(blackhoney), class: "btn btn-warning m-2" %>
        </div>

        <% moussonne =  DryingProcess.find_by(name: 'Moussonnée')%>
        <%= link_to 'MOUSSONNÉE', drying_process_path(moussonne), class: "btn btn-warning m-2" %>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>
