<%= render 'shared/navbar' %>
<div class="container">
  <h1 class="text-center">CRÉATION D'UNE NOUVELLE MÉTHODE DE SÉCHAGE</h1>
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= simple_form_for @drying_process do |f| %>
        <%= f.input :name, label: false, placeholder: "Nom de la méthode" %>
        <%= f.input :process_time, label: false, placeholder: "Combien de temps cela prend-il ?" %>
        <%= f.hidden_field :description, label: false, id: :method_description %>
        <trix-editor input="method_description" placeholder="Description de la méthode ..."></trix-editor>

        <%#= f.hidden_field :description, id: :description_method %>
        <!-- <trix-editor input="description_method"></trix-editor> -->

        <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
