<!-- <div class="rice-paper"> -->
<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>

  <% if policy(DryingProcess).destroy? %>
    <div class="button-delete d-flex justify-content-end">
      <ol>
        <li>
          <%= link_to "Supprimer", drying_process_path(@drying_process),
                  method: :delete,
                  data: { confirm: "Es-tu vraiment sûr de vouloir supprimer cette méthode ?" } %>
    <!--  <button class="menu-toggle">
            Menu
          </button> -->
        </li>
      </ol>
    </div>
  <% end %>

  <div class="container container-process d-flex justify-content-center">
    <div class="container-content-show-process">

      <div class="title-show-process mt-3">
        <h1 class="text-center mb-3"><%= @drying_process.name.upcase %></h1>
      </div>

      <div class="container-tab-show-process">
        <div class="first-row-show-process d-flex align-items-center">
          <div class="first-row-show-process-case-one d-flex justify-content-center">
            <p class='text-center'>TEMPS DU PROCESSUS :</p>
          </div>
          <div class="first-row-show-process-case-two d-flex justify-content-center">
            <p class='text-center'><%= @drying_process.process_time %></p>
          </div>
        </div>

        <div class="second-row-show-process d-flex justify-content-center">
          <p>DESCRIPTION :</p>
        </div>

        <div class="third-row-show-process d-flex justify-content-center">
          <div class="container-show-process-description d-flex align-self-center">
            <p class='text-center'><%= sanitize @drying_process.description %></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class ="mt-5 mb-2 d-flex justify-content-center">
    <% if policy(DryingProcess).update? %>
      <%= link_to "MODIFIER LA MÉTHODE DE SÉCHAGE", edit_drying_process_path(@drying_process), class: "btn btn-white text-center" %>
    <% end %>
  </div>
  <br>
</div>

