<p><%= link_to "<- Retour", drying_processes_path %> </p>
<div class="container container-process">
  <h1 class="text-center"><%= @drying_process.name.upcase %></h1>
  <div class="row">
    <div class="col-md-8 offset-2">
      <br>
      <p><strong>Temps du processus : </strong> <%= @drying_process.process_time %></p>

      <p><strong>Description : </strong> <%= @drying_process.description %></p>
    </div>
  </div>
</div>

<div class =" mt-2 mb-2 d-flex justify-content-center">
  <%= link_to "Modifier la méthode de séchage", edit_drying_process_path(@drying_process), class: "btn btn-success text-center" %>
</div>

<div class =" mt-2 mb-2 d-flex justify-content-center">
  <%= link_to "Supprimer", drying_process_path(@drying_process),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-danger" %>
</div>
