<div class="container">
  <p><%= link_to "<- Retour", drying_processes_path %> </p>
  <h1 class="text-center"><%= @drying_process.name %></h1>
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class =" mt-2 mb-2 d-flex">
        <%= link_to "Modifier la méthode de séchage", edit_drying_process_path(@drying_process), class: "btn btn-success text-center" %>
      </div>
      <br>
      <p><strong>Temps du processus : </strong> <%= @drying_process.process_time %></p>
      <p><strong>Description : </strong> <%= @drying_process.description %></p>
    </div>
  </div>
</div>
