<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>
  <br>
  <br>
  <div class="container-index-countries d-flex justify-content-center flex-column">
    <h1 class="text-center">Localisation Des Variétés</h1>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
      “La carte interractive du Black Barrel vous permet de continuer votre voyage autour du café.
      <br>Deux options s’offrent à vos recherchent.
      <br>Partir dans un pays producteur identifié pour rescenser toutes les variétés qui ont fait sa renomé.
      <br>Poursuivre sans relâche le grain qui vous réveille le matin et vous empêche de dormir la nuit.”      </p>
    </div>
    <br>
    <br>
    <div class="search-map d-flex justify-content-around">
      <div class="search-varieties">
        <%= form_tag countries_path, method: :get do %>
        <div class="form-inline">
<!--           <svg class="loupe-input" viewBox="0 0 18 18" xml:space="preserve" width="18" height="18">
            <path d="M7.4 2.5c-2.7 0-4.9 2.2-4.9 4.9s2.2 4.9 4.9 4.9c1 0 1.8-.2 2.5-.8l3.7 3.7c.2.2.4.3.8.3.7 0 1.1-.4 1.1-1.1 0-.3-.1-.5-.3-.8L11.4 10c.4-.8.8-1.6.8-2.5.1-2.8-2.1-5-4.8-5zm0 1.6c1.8 0 3.2 1.4 3.2 3.2s-1.4 3.2-3.2 3.2-3.3-1.3-3.3-3.1 1.4-3.3 3.3-3.3z">
            </path>
          </svg> -->
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Chercher une variété",
            style: "font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; padding: 6px 35px;"
          %>
        </div>
          <%#= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div id="geocoder" class="geocoder">
      </div>
    </div>
    <br>
    <div
      id="map"
      style="width: 80%;
      height: 500px;
      margin: auto;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <br>
  <br>
  <br>

  <div class="container-index-countries-list d-flex justify-content-center flex-column">
    <h1 class="text-center">Pays Producteurs</h1>
    <br>
    <br>
    <div class='d-flex justify-content-center align-items-center'>
      <% if policy(Country).create? %>
        <%= link_to "NOUVEAU PAYS", new_country_path, class: "btn btn-black" %>
      <% end %>
    </div>
    <br>
    <div class="index-countries-text-one d-flex justify-content-center">
      <p>
        “Au fil des siècles, les pays producteurs ont écrit leur propre histoire autour du fameux caféier, découvrez la sans plus attendre.”
      </p>
    </div>

    <div class="container-abcd">
      <div class="abcd d-flex flex-wrap justify-content-around">
        <%= render 'countries/abcd' %>
      </div>
    </div>

    <br>
    <br>
  </div>
</div>

<div class="footer footer-show d-flex justify-content-center">
  <a href="#">About</a>
  <div class="footer-logo d-flex align-items-center flex-column">
    <%= image_tag "logo-beige-png.png", alt: "coffee bean logo in beige" %>
    <div class="footer-copyright-show mt-2">
      © 2020 BLACK BARREL COFFEE, INC. All rights reserved.
    </div>
  </div>
  <a href="#">Contact</a>
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>
