<div class="container">
  <p><%= link_to "<- Retour", root_path %> </p>
  <h1 class="text-center">TOUS LES PAYS PRODUCTEURS</h1>
  <div class="row">
    <div class="col-md-8 offset-2">
      <hr>
      <% if policy(Country).create? %>
        <%= link_to "Nouveau pays", new_country_path, class: "btn btn-primary" %>
      <% end %>
      <hr>
      <p>
        <% @countries.each do |country| %>
          <%= link_to country.name, country_path(country), class: "btn btn-warning" %>
        <% end %>
      </p>
      <hr>
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
