<div class="container">
  <p><%= link_to "<- Retour", countries_path %> </p>
  <h1 class="text-center"><%= @country.name %></h1>
  <div class="row">
    <div class="col-md-8 offset-2">
    <div class =" mt-2 mb-2 d-flex">
      <%= link_to "Modifier le pays", edit_country_path(@country), class: "btn btn-success text-center" %>
    </div>
      <br>
      <p><strong>Production annuelle : </strong> <%= @country.annual_prod %></p>
      <p><strong>Part du marché mondial : </strong> <%= @country.world_market_share %></p>
      <p><strong>Rang mondial : </strong> <%= @country.world_rank %></p>
      <p><strong>Caractéristiques : </strong> <%= @country.description %></p>
      <p><strong>Variétés produites dans le pays : </strong></p>
      <ul>
        <% @country_varieties.each do |variety| %>
          <li>
            <% country_variety = Variety.find(variety.variety_id) %>
            <%= country_variety.name %>
            <%= link_to "| Voir", variety_path(country_variety)%>
          </li>
        <% end %>
      </ul>
      <p><strong>Méthodes de séchage pratiquées dans ce pays : </strong></p>
      <ul>
        <% @country.country_process_links.each do |process| %>
          <li>
            <%= process.drying_process.name %>
            <%= link_to "| Voir", drying_process_path(process)%>

            <%= link_to "| Supprimer", country_process_link_path(process),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
      <!-- START Button trigger modal new_country_process_link -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCountryProcessLinkModalCenter">
        Ajouter une méthode de séchage dans ce pays
      </button>
      <!-- END Button trigger modal new_country_process_link -->
      <br>
      <br>
      <p><strong>Périodes de récolte : </strong></p>
      <ul>
        <% @country.harvest_periods.each do |harvest_period| %>
          <li>
            <%= Month.find(harvest_period.month_id).name %>
            <%= link_to "| Supprimer", harvest_period_path(harvest_period),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
      <!-- START Button trigger modal new_harvest_period -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newHarvestPeriodModalCenter">
        Ajouter un mois de récolte
      </button>
      <!-- END Button trigger modal new_harvest_period -->
      <br>
      <br>
      <div class =" mt-2 mb-2 d-flex justify-content-center">
        <%= link_to "Supprimer", country_path(@country),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
<!-- START Modal new_harvest_period -->
<div class="modal fade" id="newCountryProcessLinkModalCenter" tabindex="-1" role="dialog" aria-labelledby="newCountryProcessLinkModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCountryProcessLinkModalCenterTitle">Ajouter une méthode de séchage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @country_process_link do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :drying_process, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
<!-- START Modal new_parent -->
<div class="modal fade" id="newHarvestPeriodModalCenter" tabindex="-1" role="dialog" aria-labelledby="newHarvestPeriodModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newHarvestPeriodModalCenterTitle">Ajouter un mois de récolte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @harvest_period do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :month, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
