<div class="rice-paper">
  <p><%= link_to "<- Retour", countries_path %> </p>

  <div class="container container-tabs-country d-flex justify-content-around">

    <div class="container-country-one d-flex justify-content-center">
      <div class="container-content-show-country-one">
        <div class="title-show-country mt-3">
          <h1 class="text-center mb-3"><%= @country.name.upcase %></h1>
        </div>
        <div class="container-tab-show-country-one">
          <div class="first-row-show-country d-flex align-items-center">
            <div class="first-row-show-country-case-one d-flex justify-content-center">
              <p class='text-center'>ALTITUDE DE PRODUCTION :</p>
            </div>
            <div class="first-row-show-country-case-two d-flex justify-content-center">
              <p class='text-center'><%= @country.altitude_growth %></p>
            </div>
          </div>

          <div class="second-row-show-country d-flex align-items-center">
            <div class="second-row-show-country-case-one d-flex justify-content-center flex-column">
              <p class='text-center'>MÉTHODES DE SÉCHAGE PRATIQUÉES DANS CE PAYS :</p>
              <!-- START Button trigger modal new_country_process_link -->
              <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newCountryProcessLinkModalCenter">
                <%= image_tag "button-plus.svg", alt: "alttext" %>
              </div>
              <!-- END Button trigger modal new_country_process_link -->
            </div>
            <div class="second-row-show-country-case-two d-flex justify-content-center">
              <ul>
                <% @country.country_process_links.each do |process| %>
                  <li>
                    <%= link_to process.drying_process.name.upcase, drying_process_path(process), class: 'name'%>

                    <%= link_to "| X", country_process_link_path(process),
                                          method: :delete,
                                          data: { confirm: "Are you sure?" } %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="second-row-show-country d-flex align-items-center">
            <div class="second-row-show-country-case-one d-flex justify-content-center flex-column">
              <p class='text-center'>PÉRIODES DE RÉCOLTE :</p>
              <!-- START Button trigger modal new_harvest_period -->
              <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newHarvestPeriodModalCenter">
                <%= image_tag "button-plus.svg", alt: "alttext" %>
              </div>
              <!-- END Button trigger modal new_harvest_period -->
            </div>
            <div class="second-row-show-country-case-two d-flex justify-content-center">
              <ul>
                <% @country.harvest_periods.each do |harvest_period| %>
                  <li>
                    <%= Month.find(harvest_period.month_id).name.upcase %>

                    <%= link_to "| X", harvest_period_path(harvest_period),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>


          <p><strong>Production annuelle : </strong> <%= @country.annual_prod %></p>
          <p><strong>Part du marché mondial : </strong> <%= @country.world_market_share %></p>
          <p><strong>Rang mondial : </strong> <%= @country.world_rank %></p>
          <p><strong>Variétés produites dans le pays : </strong></p>

          <ul>
            <% @country_varieties.each do |variety| %>
              <li>
                <% country_variety = Variety.find(variety.variety_id) %>
                <%= country_variety.name %>
                <%= link_to "| Voir", variety_path(country_variety)%>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
    <div class="container-country-two d-flex justify-content-center">
      <div class="container-content-show-country-two">
        <p><strong>Caractéristiques : </strong> <%= @country.description %></p>
      </div>
    </div>
  </div>

  <div class ="mt-4 mb-2 d-flex justify-content-center">
    <%= link_to "Modifier le pays", edit_country_path(@country), class: "btn btn-success text-center" %>
  </div>

  <div class ="mt-2 mb-4 d-flex justify-content-center">
    <%= link_to "Supprimer", country_path(@country),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %>
  </div>
  <br>
  <br>
</div>
<div class="footer footer-show d-flex justify-content-center">
  <a href="#">About</a>
  <div class="footer-logo d-flex align-items-center flex-column">
    <%= image_tag "logo-beige-png.png", alt: "coffee bean logo in beige" %>
    <div class="footer-copyright-show mt-2">
      © 2020 BLACK BARREL COFFEE, INC. All rights reserved.
    </div>
  </div>
  <a href="#">Contact</a>
<!--   <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->
</div>


<!-- START Modal new_harvest_period -->
<div class="modal fade" id="newCountryProcessLinkModalCenter" tabindex="-1" role="dialog" aria-labelledby="newCountryProcessLinkModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCountryProcessLinkModalCenterTitle">Ajouter une méthode de séchage</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @country_process_link do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :drying_process, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
<!-- START Modal new_parent -->
<div class="modal fade" id="newHarvestPeriodModalCenter" tabindex="-1" role="dialog" aria-labelledby="newHarvestPeriodModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newHarvestPeriodModalCenterTitle">Ajouter un mois de récolte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @harvest_period do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :month, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "Créer", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
