<!-- <div class="rice-paper"> -->
<div class="leaf-background">
  <%= render 'shared/secondnavbar' %>

  <div class="d-flex justify-content-between">
    <div class="button-return d-flex justify-content-start">
      <%= link_to countries_path do %>
        <%= image_tag "back_arrow.svg", class: 'back-arrow' %>
        <!-- <i class="far fa-arrow-alt-circle-left"></i> -->
      <% end %>
    </div>

      <% if policy(Country).destroy? %>
        <div class="button-delete d-flex justify-content-end">
          <ol>
            <li>
              <%= link_to "Supprimer", country_path(@country),
                      method: :delete,
                      data: { confirm: "Es-tu vraiment sûr de vouloir supprimer ce pays ?" } %>
        <!--  <button class="menu-toggle">
                Menu
              </button> -->
            </li>
          </ol>
        </div>
      <% end %>
  </div>


  <div class="container-tabs-country d-flex justify-content-between">

    <div class="container-country-one d-flex justify-content-center">
      <div class="container-content-show-country-one">
        <div class="title-show-country mt-3">
          <h1 class="text-center mb-3"><%= @country.name.upcase %></h1>
        </div>
        <div class="container-tab-show-country-one">

          <div class="second-row-show-country d-flex align-items-center">
            <div class="second-row-show-country-case-one d-flex justify-content-center flex-column tab-title">
              <p class='text-center'>MÉTHODES DE SÉCHAGE PRATIQUÉES DANS CE PAYS :</p>
              <% if current_user.admin? %>
                <!-- START Button trigger modal new_country_process_link -->
                <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newCountryProcessLinkModalCenter">
                  <%= image_tag "button-plus.svg", alt: "alttext" %>
                </div>
                <!-- END Button trigger modal new_country_process_link -->
              <% end %>
            </div>
            <div class="second-row-show-country-case-two d-flex justify-content-center">
              <ul>
                <% @country.country_process_links.each do |process| %>
                  <li>
                    <%= link_to process.drying_process.name.upcase, drying_process_path(process.drying_process), class: 'name'%>
                    <% if current_user.admin? %>
                      <%= link_to "| X", country_process_link_path(process),
                                            method: :delete,
                                            data: { confirm: "Are you sure?" } %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="third-row-show-country d-flex align-items-center">
            <div class="third-row-show-country-case-one d-flex justify-content-center flex-column tab-title">
              <p class='text-center'>PÉRIODES DE RÉCOLTE :</p>
              <% if current_user.admin? %>
                <!-- START Button trigger modal new_harvest_period -->
                <div class='button mb-3 d-flex justify-content-center' data-toggle="modal" data-target="#newHarvestPeriodModalCenter">
                  <%= image_tag "button-plus.svg", alt: "alttext" %>
                </div>
                <!-- END Button trigger modal new_harvest_period -->
              <% end %>
            </div>
            <div class="third-row-show-country-case-two d-flex justify-content-center">
              <ul>
                <% @country.harvest_periods.each do |harvest_period| %>
                  <li>
                    <%= Month.find(harvest_period.month_id).name.upcase %>
                    <% if current_user.admin? %>
                      <%= link_to "| X", harvest_period_path(harvest_period),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
                  <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="fourth-row-show-country d-flex align-items-center">
            <div class="fourth-row-show-country-case-one d-flex justify-content-center flex-column tab-title">
              <p class='text-center'>VARIÉTÉS PRODUITES DANS LE PAYS :</p>
            </div>
            <div class="fourth-row-show-country-case-two d-flex justify-content-center">
              <ul>
                <% @country_varieties.each do |variety| %>
                  <li>
                    <% country_variety = Variety.find(variety.variety_id) %>
                    <%#= country_variety.name %>

                    <%= link_to country_variety.name.upcase, variety_path(country_variety), class: 'name' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <div class="first-row-show-country d-flex align-items-center">
            <div class="first-row-show-country-case-one d-flex justify-content-center tab-title">
              <p class='text-center'>ALTITUDE DE PRODUCTION :</p>
            </div>
            <div class="first-row-show-country-case-two d-flex justify-content-center">
              <p class='text-center'><%= @country.altitude_growth %></p>
            </div>
          </div>

          <!-- <div class="first-row-show-country d-flex align-items-center">
            <div class="first-row-show-country-case-one d-flex justify-content-center">
              <p class='text-center'>PRODUCTION ANNUELLE :</p>
            </div>
            <div class="first-row-show-country-case-two d-flex justify-content-center">
              <p class='text-center'><%#= @country.annual_prod %></p>
            </div>
          </div> -->

          <!-- <div class="first-row-show-country d-flex align-items-center">
            <div class="first-row-show-country-case-one d-flex justify-content-center">
              <p class='text-center'>PART DU MARCHÉ MONDIAL :</p>
            </div>
            <div class="first-row-show-country-case-two d-flex justify-content-center">
              <p class='text-center'><%#= @country.world_market_share %></p>
            </div>
          </div> -->

          <!-- <div class="last-row-show-country d-flex align-items-center">
            <div class="last-row-show-country-case-one d-flex justify-content-center">
              <p class='text-center'>RANG MONDIAL :</p>
            </div>
            <div class="last-row-show-country-case-two d-flex justify-content-center">
              <p class='text-center'><%#= @country.world_rank %></p>
            </div>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container-country-two d-flex justify-content-center">
      <!-- <div class="container-content-show-country-two"> -->
        <div class="container-tab-show-country-two">
          <div class="first-row-show-country-two d-flex justify-content-center tab-title">
            <p>CARACTÉRISTIQUES :</p>
          </div>
          <div class="second-row-show-country-two d-flex justify-content-center">
            <!-- <p class='text-center'><%#= sanitize @country.description %></p> -->
            <%= sanitize @country.description %>
          </div>
        </div>
      <!-- </div> -->
    </div>


  </div>

  <div class ="mt-5 mb-2 d-flex justify-content-center">
    <% if policy(Country).update? %>
      <%= link_to "MODIFIER LE PAYS", edit_country_path(@country), class: "btn btn-white text-center" %>
    <% end %>
  </div>

  <br>
</div>


<!-- START Modal new_harvest_period -->
<div class="modal fade" id="newCountryProcessLinkModalCenter" tabindex="-1" role="dialog" aria-labelledby="newCountryProcessLinkModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-style">
      <div class="modal-header">
        <h5 class="modal-title" id="newCountryProcessLinkModalCenterTitle">AJOUTER UNE MÉTHODE DE SÉCHAGE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @country_process_link do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :drying_process, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "CRÉER", class: "btn-edit mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
<!-- START Modal new_parent -->
<div class="modal fade" id="newHarvestPeriodModalCenter" tabindex="-1" role="dialog" aria-labelledby="newHarvestPeriodModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newHarvestPeriodModalCenterTitle">Ajouter un mois de récolte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%#= simple_form_for @productive_country do |f| %>
        <%= simple_form_for @harvest_period do |f| %>
          <%= f.association :country, :as => :hidden, input_html: { value: @country.id } %>
          <%= f.association :month, label: false %>
          <div class =" mt-2 mb-2 d-flex justify-content-center">
          <%= f.submit "CRÉER", class: "btn-edit mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END Modal new_harvest_period -->
